.authPage {
    height: 100vh;
    background: #ededed;
    &_container {
        height: 90%;
        max-width: 1100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
