.inputValidate {
    width: 100%;

    &_label {
        cursor: pointer;
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140.02%;
        color: #616868;
    }

    &_error {
        font-size: 11px;
        padding: 3px;
        color: #f76161;
        min-height: 19px;
    }
}
